<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="redemption">
	<select id="getMemberInfo" resultType="RedemptionMemberInfoModelBean">
		SELECT
		  M.MEMBER_ID
		  , T.TIER_NAME
		  , M.FIRST_NAME
		  , M.LAST_NAME  
		  , B.CURRENT_POINT
		  , M.PROGRAM_ID
          , program.PROGRAM_NAME
		FROM LOY_MEMBER M
		INNER JOIN LOY_TIER T ON M.MEMBER_TIER_ID = T.TIER_ID
		INNER JOIN LOY_MEM_POINT_BALANCE B ON B.MEMBER_ID = M.MEMBER_ID AND B.PROGRAM_ID = M.PROGRAM_ID
		INNER JOIN loy_program program ON M.PROGRAM_ID = program.PROGRAM_ID
		INNER JOIN LOY_PROGRAM_POINT_TYPE P ON P.PROGRAM_ID = M.PROGRAM_ID AND P.PRIMARY_YN = 'Y'
		WHERE M.MEMBER_ID = #{memberId}
	</select>
	<select id="searchReward" resultType="RedemptionRewardModelBean">
		SELECT DISTINCT
		  P.PRODUCT_ID
		  , P.PRODUCT_CODE
		  , P.PRODUCT_NAME
		  , P.PRODUCT_DETAIL
		  , IFNULL(P.REWARD_UNIT_PERSON, 0) AS REWARD_UNIT_PERSON
		  , IFNULL(RM.POINT, 0) AS POINT
		  , IFNULL(RM.CASH, 0) AS CASH
		  , IFNULL(P.REWARD_UNIT_PERSON, 0) - IFNULL(TXN.QUANTITY, 0) AS REDEEM_COUNT
		  , IFNULL(P.INVENTORY_BALANCE, 0) AS INVENTORY_BALANCE
		  , RM.REDEEM_METHOD_TYPE
		  , P.PRODUCT_IMG_PATH
		FROM 
		  LOY_PRODUCT P
		INNER JOIN LOY_PRODUCT_REDEEM_METHOD RM ON RM.PRODUCT_ID = P.PRODUCT_ID
		INNER JOIN LOY_MEMBER M ON M.MEMBER_ID = #{memberId} 
	    INNER JOIN LOY_PROGRAM_POINT_TYPE PT ON PT.PROGRAM_ID = M.PROGRAM_ID AND PT.PRIMARY_YN = 'Y'
	    INNER JOIN LOY_MEM_POINT_BALANCE PB ON PB.MEMBER_ID = M.MEMBER_ID AND PB.PROGRAM_ID = M.PROGRAM_ID AND PB.POINT_TYPE_ID = PT.POINT_TYPE_ID
		LEFT JOIN (
	      SELECT MEMBER_ID, PRODUCT_ID, SUM(QUANTITY) AS QUANTITY FROM LOY_TXN 
	      WHERE MEMBER_ID = #{memberId} AND STATUS = 'PROCESSED' AND PRODUCT_TYPE = 'REWARD'
	      GROUP BY MEMBER_ID, PRODUCT_ID
	    ) TXN ON TXN.MEMBER_ID = M.MEMBER_ID AND TXN.PRODUCT_ID = P.PRODUCT_ID
		WHERE 
		  P.PRODUCT_TYPE = 'REWARD'
		  AND P.REWARD_ACTIVE_FLAG = 'Y'
		  AND NOW() BETWEEN P.START_DATE AND P.END_DATE	  
		<if test='"Y".equals(displayType)' >
			AND (IFNULL(P.REWARD_UNIT_PERSON, 0) - IFNULL(TXN.QUANTITY, 0)) > 0
			AND PB.CURRENT_POINT >= IFNULL(RM.POINT, 0)
		</if>
		<if test="buId != null">
	    	AND P.BU_ID = #{buId}
	  	</if>
		<if test="programId != null">
	    	AND P.PROGRAM_ID = #{programId}
	  	</if>
		<if test="minPoint != null and minPoint > 0">
	    	AND RM.POINT >= #{minPoint}
	  	</if>
	  	<if test="maxPoint != null and maxPoint > 0">
	    	<![CDATA[ AND RM.POINT <= #{maxPoint} ]]>
	  	</if>
	  	<if test="rewardName != null and rewardName != ''">
			<bind name="rewardName" value="'%' + rewardName + '%'" />
			AND P.PRODUCT_NAME like #{rewardName}
		</if>
		<if test="redeemMethod != null and redeemMethod != ''">
			AND RM.REDEEM_METHOD_TYPE = #{redeemMethod}
		</if>
		<choose>
		  	<when test="sortColumn != null and sortColumn != ''">
		  		<choose>
		  			<when test="sortColumn == 'productName'">
			  			order by P.PRODUCT_NAME ${sortDirection}
			  		</when>
			  		<when test="sortColumn == 'point'">
			  			order by RM.POINT ${sortDirection}
			  		</when>
			  		<when test="sortColumn == 'cash'">
			  			order by RM.CASH ${sortDirection}
			  		</when>
		  		</choose>
		  	</when>
		  	<otherwise>
		  		order by P.PRODUCT_NAME ASC
		  	</otherwise>
	  	</choose>
	</select>
</mapper>