<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="holiday">
	<select id="getHolidayList" resultType="HolidayModelBean">
		SELECT ID
		, hd.`YEAR` as year
		, hd.TYPE_CD as typeCd
		, hd.HOLIDAY_DATE as holidayDate
		, hd.HOLIDAY_NAME as holidayName
		, hd.REMARK as remark
		, ht.ETC1 as backgroundColor
		, ht.ETC2 as textColor
		, hd.CREATED_DATE as createdDate
		, hd.CREATED_BY as createdBy
		, hd.UPDATED_DATE as updatedDate
		, hd.UPDATED_BY as updatedBy
		FROM tb_holiday_info hd
		left join tb_codebook ht on hd.TYPE_CD = ht.CODE_ID and ht.CODE_TYPE ='HOLIDAY_TYPE'
		where 1=1
		ORDER BY hd.HOLIDAY_DATE
	</select>
	<select id="getHolidayDetail" resultType="HolidayModelBean">
		SELECT ID
		, hd.`YEAR` as year
		, hd.TYPE_CD as typeCd
		, hd.HOLIDAY_DATE as holidayDate
		, hd.HOLIDAY_NAME as holidayName
		, hd.REMARK as remark
		, ht.ETC1 as backgroundColor
		, ht.ETC2 as textColor
		, hd.CREATED_DATE as createdDate
		, hd.CREATED_BY as createdBy
		, hd.UPDATED_DATE as updatedDate
		, hd.UPDATED_BY as updatedBy
		FROM tb_holiday_info hd
		left join tb_codebook ht on hd.TYPE_CD = ht.CODE_ID and ht.CODE_TYPE ='HOLIDAY_TYPE'
		where hd.ID=#{id} 
	</select>
	<insert id="saveHoliday">
		INSERT INTO tb_holiday_info
		(`YEAR`, TYPE_CD, HOLIDAY_DATE, HOLIDAY_NAME, REMARK, CREATED_DATE, CREATED_BY, UPDATED_DATE, UPDATED_BY)
		VALUES(
		 #{year}
		,#{typeCd}
		,#{holidayDate}
		,#{holidayName}
		,#{remark}
		,now()
		,#{createdBy}
		,now()
		,#{updatedBy}
		)
	</insert>
	
	<update id="editHoliday">
		UPDATE tb_holiday_info
		SET `YEAR`=#{year}
		, TYPE_CD=#{typeCd}
		, HOLIDAY_DATE=#{holidayDate}
		, HOLIDAY_NAME=#{holidayName}
		, REMARK=#{remark}
		, UPDATED_DATE=now()
		, UPDATED_BY=#{updatedBy}
		WHERE ID=#{id}
	</update>
	
	<delete id="deleteHoliday">
		DELETE FROM tb_holiday_info WHERE ID=#{id}
	</delete>
	
</mapper>