<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="questionnaire-dashboard">
	<select id="getQuestionnaireGenderGroup" resultType="QuestionnaireDashboardGenderGroupModelBean">
		select 
		count(*) as totalRespondent,
		count(case when rd.GENDER='male' then 1 end) as totalMale,
		count(case when rd.GENDER='female' then 1 end) as totalFemale,
		count(case when rd.GENDER='others' then 1 end) as totalOthers
		from tb_questionnaire_respondents rd
		join tb_questionnaire_header_master hdq on rd.QUESTIONNAIRE_HEADER_ID =hdq.ID 
		where hdq.ID =#{headerId}
	</select>
	<select id="getQuestionnaireAgeGroupList" resultType="QuestionnaireDashboardValueModelBean">
		select 
		tc.CODE_NAME as name
		,count(rd.RESPONDENT_ID) AS value
		from tb_questionnaire_respondents rd
		join tb_codebook tc on tc.CODE_TYPE='AGE_RANGE'  and  rd.age between tc.ETC1 and tc.ETC2
		where rd.QUESTIONNAIRE_HEADER_ID =#{headerId}
		group by tc.CODE_NAME;
	</select>
	<select id="getQuestionnaireRespondentList" resultType="QuestionnaireRepondentsModelBean">
		select 
		rd.RESPONDENT_ID 
		,rd.QUESTIONNAIRE_HEADER_ID 
		,rd.NAME 
		,rd.AGE 
		,rd.GENDER 
		,rd.CREATED_DATE 
		from tb_questionnaire_respondents rd
		join tb_questionnaire_header_master hdq on rd.QUESTIONNAIRE_HEADER_ID = hdq.ID 
		where hdq.ID =#{headerId}
	</select>
	
	<select id="getQuestionnaireSummaryTextList" resultType="QuestionnaireDashboardValueModelBean">
		select 
		rep.NAME as name
		,res.RESPONSE_TEXT as value
		from tb_questionnaire_responses res
		join tb_questionnaire_respondents rep on res.RESPONDENT_ID=rep.RESPONDENT_ID
		join tb_questionnaire_header_master hdq on res.QUESTIONNAIRE_HEADER_ID =hdq.ID 
		join tb_questionnaire_q_master qm on res.QUESTION_ID =qm.ID 
		left join tb_codebook tc on qm.ANSWER_TYPE =tc.CODE_ID  and tc.CODE_TYPE ='ANSWER_TYPE'
		where tc.ETC1 in ('text','textarea')
		and hdq.ID =#{headerId} and res.QUESTION_ID =#{questionId}
		order by res.CREATED_DATE 
		<if test="isShortList='Y'">
			limit 5
		</if>
		
	</select>
	
	<select id="getQuestionnaireResponseText" resultType="QuestionnaireDashboardValueModelBean">
		select 
		res.RESPONSE_TEXT as name
		,res.RESPONSE_TEXT as value
		from tb_questionnaire_responses res
		join tb_questionnaire_header_master hdq on res.QUESTIONNAIRE_HEADER_ID =hdq.ID 
		join tb_questionnaire_q_master qm on res.QUESTION_ID =qm.ID 
		left join tb_codebook tc on qm.ANSWER_TYPE =tc.CODE_ID  and tc.CODE_TYPE ='ANSWER_TYPE'
		where tc.ETC1 in ('text','textarea','radio','select','checkbox')
		and hdq.ID =#{headerId} and res.QUESTION_ID =#{questionId} and res.RESPONDENT_ID=#{respondentId}
		order by res.CREATED_DATE 
	</select>
	
	<select id="getQuestionnaireSummaryDateList" resultType="QuestionnaireDashboardValueModelBean">
		select 
		rep.NAME as name
		,DATE_FORMAT(STR_TO_DATE(res.RESPONSE_TEXT , '%a %b %d %Y %H:%i:%s'),'%Y-%m-%d') as value
		from tb_questionnaire_responses res
		join tb_questionnaire_respondents rep on res.RESPONDENT_ID=rep.RESPONDENT_ID
		join tb_questionnaire_header_master hdq on res.QUESTIONNAIRE_HEADER_ID =hdq.ID 
		join tb_questionnaire_q_master qm on res.QUESTION_ID =qm.ID 
		left join tb_codebook tc on qm.ANSWER_TYPE =tc.CODE_ID  and tc.CODE_TYPE ='ANSWER_TYPE'
		where tc.ETC1 in ('date')
		and hdq.ID =#{headerId} and res.QUESTION_ID =#{questionId}
		order by res.CREATED_DATE 
		<if test="isShortList='Y'">
			limit 5
		</if>
	</select>
	
	<select id="getQuestionnaireResponseDate" resultType="QuestionnaireDashboardValueModelBean">
		select 
		rep.NAME as name
		,DATE_FORMAT(STR_TO_DATE(res.RESPONSE_TEXT , '%a %b %d %Y %H:%i:%s'),'%Y-%m-%d') as value
		from tb_questionnaire_responses res
		join tb_questionnaire_respondents rep on res.RESPONDENT_ID=rep.RESPONDENT_ID
		join tb_questionnaire_header_master hdq on res.QUESTIONNAIRE_HEADER_ID =hdq.ID 
		join tb_questionnaire_q_master qm on res.QUESTION_ID =qm.ID 
		left join tb_codebook tc on qm.ANSWER_TYPE =tc.CODE_ID  and tc.CODE_TYPE ='ANSWER_TYPE'
		where tc.ETC1 in ('date')
		and hdq.ID =#{headerId} and res.QUESTION_ID =#{questionId} and res.RESPONDENT_ID=#{respondentId}
		order by res.CREATED_DATE 
	</select>
	
	<select id="getQuestionnaireSummaryRadioSelectList" resultType="QuestionnaireDashboardValueModelBean">
		select 
		res.RESPONSE_TEXT as name
		,count(res.RESPONSE_ID) as value
		from tb_questionnaire_responses res
		join tb_questionnaire_header_master hdq on res.QUESTIONNAIRE_HEADER_ID =hdq.ID 
		join tb_questionnaire_q_master qm on res.QUESTION_ID =qm.ID 
		left join tb_codebook tc on qm.ANSWER_TYPE =tc.CODE_ID  and tc.CODE_TYPE ='ANSWER_TYPE'
		where tc.ETC1 in ('radio','select','checkbox')
		and hdq.ID =#{headerId} and res.QUESTION_ID =#{questionId}
		group by res.RESPONSE_TEXT
	</select>
	
</mapper>