<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<select id="getProductList" resultType="loyaltyProductModelBean"> 
       		SELECT P.PRODUCT_ID 
				, P.PRODUCT_CODE 
				, P.PRODUCT_NAME AS PRODUCT 
				, P.PRODUCT_TYPE AS PRODUCT_TYPE_ID
				, P.LOY_PRODUCT_TYPE AS LOY_PRODUCT_TYPE_ID 
				, CB1.CODE_NAME AS LOY_PRODUCT_TYPE
				, P.PRODUCT_CATEGORY AS PRODUCT_CATEGORY_ID
				, CB2.CODE_NAME AS PRODUCT_CATEGORY
				, P.PRODUCT_SUB_CATEGORY AS PRODUCT_SUB_CATEGORY_ID
				, CB3.CODE_NAME AS PRODUCT_SUB_CATEGORY
				, P.PRODUCT_DETAIL
				, P.PRODUCT_FULL_DETAIL 
				, P.PRODUCT_ACTIVE_FLAG
				, P.PRODUCT_PRICE
				, P.PRODUCT_POINT_USE 
				, P.CAMPAIGN_ID
				, C.CAMPAIGN_NAME AS CAMPAIGN 
				, P.START_DATE
				, P.END_DATE
				, P.CREATED_DATE
			    , P.CREATED_BY 
			    , P.UPDATED_DATE
			    , P.UPDATED_BY 
			    , P.PROGRAM_ID 
			    , PG.PROGRAM_NAME AS PROGRAM
			FROM LOY_PRODUCT P 
			INNER JOIN TB_CODEBOOK CB1  ON CB1.CODE_ID = P.LOY_PRODUCT_TYPE  AND CB1.CODE_TYPE = 'LOYALTY_PRODUCT_TYPE'
			LEFT JOIN TB_CODEBOOK CB2  ON CB2.CODE_ID = P.PRODUCT_CATEGORY  AND CB2.CODE_TYPE = 'LOY_PRODUCT_CATEGORY'
			LEFT JOIN TB_CODEBOOK CB3  ON CB3.CODE_ID = P.PRODUCT_SUB_CATEGORY  AND CB3.CODE_TYPE = 'LOY_PRODUCT_SUB_CATEGORY'
			LEFT JOIN LOY_PROGRAM PG  ON P.PROGRAM_ID = PG.PROGRAM_ID
			LEFT JOIN LOY_CAMPAIGN C  ON C.CAMPAIGN_ID = P.CAMPAIGN_ID
		<where>	
		  	<if test="true">
		    	P.PRODUCT_TYPE = 'LOY_PRODUCT'
		  	</if>
		  	<if test="productId != null">
		    	P.PRODUCT_ID = #{productId}
		  	</if>
		  	<if test="productCode != null">
		    	<bind name="productCode" value="'%' + productCode + '%'" />
		    	AND P.PRODUCT_CODE like #{productCode}
		  	</if>
			<if test="product != null">
		    	<bind name="product" value="'%' + product + '%'" />
		    	AND P.PRODUCT_NAME like #{product}
		  	</if>
		  	<if test="loyProductTypeId != null">
		    	AND P.LOY_PRODUCT_TYPE = #{loyProductTypeId}
		  	</if>
		  	<if test="productCategoryId != null">
		    	AND P.PRODUCT_CATEGORY = #{productCategoryId}
		  	</if>
		  	<if test="productActiveFlag != null">
		    	AND P.PRODUCT_ACTIVE_FLAG = #{productActiveFlag}
		  	</if>
		  	<if test="campaignId != null">
		    	AND P.CAMPAIGN_ID = #{campaignId}
		  	</if>
		  	<if test="programId != null">
		    	AND P.PROGRAM_ID = #{programId}
		  	</if>
		  	<if test="loyProductTypeId != null">
		    	AND P.LOY_PRODUCT_TYPE = #{loyProductTypeId}
		  	</if>
		  	<if test="buId != null">
		    	AND P.BU_ID = #{buId}
		  	</if>
	  	</where>		
		<choose>
			<when test="sortColumn != null">
		  		<if test="sortColumn == 'product'">
		  			ORDER BY P.PRODUCT_NAME ${sortDirection}	  	
		  		</if>
		  	</when>
		  	<otherwise>
		  		ORDER BY P.PRODUCT_NAME ASC  	
		  	</otherwise>
	  	</choose>
	</select>
	
	<insert id="createProduct" keyColumn="PRODUCT_ID" keyProperty="productId" useGeneratedKeys="true">
		INSERT INTO LOY_PRODUCT(
		     PRODUCT_CODE
		    ,PRODUCT_NAME
		    ,PRODUCT_DETAIL
		    ,PRODUCT_FULL_DETAIL
		    ,PRODUCT_BARCODE
		    ,PRODUCT_QR_CODE
		    ,PRODUCT_ACTIVE_FLAG
		    ,CAMPAIGN_ID
		    ,START_DATE
		    ,END_DATE
		    ,PRODUCT_TYPE
		    ,PRODUCT_IMG_PATH
		    ,CREATED_DATE
		    ,CREATED_BY
		    ,UPDATED_DATE
		    ,UPDATED_BY
		    ,PRODUCT_CATEGORY
		    ,PRODUCT_SUB_CATEGORY
		    ,PROGRAM_ID
		    ,FILE_ORIGINAL_NAME
		    ,FILE_PHYSICAL_NAME
		    ,IS_GIFT_CARD_FLAG
		    ,PRODUCT_PRICE
		    ,PRODUCT_POINT_USE
		    ,LOY_PRODUCT_TYPE
		    ,BU_ID
		) VALUES (
		     #{productCode}
		    ,#{product}
		    ,#{productDetail}
		    ,#{productFullDetail}
		    ,#{productBarCode}
		    ,#{productQrCode}
		    ,#{productActiveFlag}
		    ,#{campaignId}
		    ,#{startDate}
		    ,#{endDate}
		    ,'LOY_PRODUCT'
		    ,#{productImgPath}
		    ,NOW()
		    ,#{createdBy}
		    ,NOW()
		    ,#{updatedBy}
		    ,#{productCategoryId}
		    ,#{productSubCategoryId}
		    ,#{programId}
		    ,#{fileOriginalName}
		    ,#{filePhysicalName}
		    ,#{isGiftCardFlag}
		    ,#{productPrice}
		    ,#{productPointUse}
		    ,#{loyProductTypeId}
		    , #{buId}
		)
	</insert>
			
	<select id="findProductById" resultType="loyaltyProductModelBean">
			SELECT P.PRODUCT_ID 
				, P.PRODUCT_CODE 
				, P.PRODUCT_NAME AS PRODUCT 
				, P.PRODUCT_TYPE AS PRODUCT_TYPE_ID
				, P.LOY_PRODUCT_TYPE AS LOY_PRODUCT_TYPE_ID 
				, CB1.CODE_NAME AS LOY_PRODUCT_TYPE
				, P.PRODUCT_CATEGORY AS PRODUCT_CATEGORY_ID
				, CB2.CODE_NAME AS PRODUCT_CATEGORY
				, P.PRODUCT_SUB_CATEGORY AS PRODUCT_SUB_CATEGORY_ID
				, CB3.CODE_NAME AS PRODUCT_SUB_CATEGORY
				, P.PRODUCT_DETAIL
				, P.PRODUCT_FULL_DETAIL 
				, P.PRODUCT_ACTIVE_FLAG
				, P.PRODUCT_PRICE
				, P.PRODUCT_POINT_USE 
				, P.CAMPAIGN_ID
				, C.CAMPAIGN_NAME AS CAMPAIGN 
				, P.START_DATE
				, P.END_DATE
				, P.CREATED_DATE
			    , P.CREATED_BY 
			    , P.UPDATED_DATE
			    , P.UPDATED_BY 
			    , P.PROGRAM_ID 
			    , PG.PROGRAM_NAME AS PROGRAM
			FROM LOY_PRODUCT P 
			INNER JOIN TB_CODEBOOK CB1  ON CB1.CODE_ID = P.LOY_PRODUCT_TYPE  AND CB1.CODE_TYPE = 'LOYALTY_PRODUCT_TYPE'
			LEFT JOIN TB_CODEBOOK CB2  ON CB2.CODE_ID = P.PRODUCT_CATEGORY  AND CB2.CODE_TYPE = 'LOY_PRODUCT_CATEGORY'
			LEFT JOIN TB_CODEBOOK CB3  ON CB3.CODE_ID = P.PRODUCT_SUB_CATEGORY  AND CB3.CODE_TYPE = 'LOY_PRODUCT_SUB_CATEGORY'
			LEFT JOIN LOY_PROGRAM PG  ON P.PROGRAM_ID = PG.PROGRAM_ID
			LEFT JOIN LOY_CAMPAIGN C  ON C.CAMPAIGN_ID = P.CAMPAIGN_ID
			WHERE P.PRODUCT_ID = #{productId}
	</select>
	
	<update id="updateProduct">
		UPDATE LOY_PRODUCT
		SET
			 PRODUCT_CODE = #{productCode}
			, LOY_PRODUCT_TYPE = #{loyProductTypeId}
			,PRODUCT_NAME = #{product}
			,PRODUCT_DETAIL = #{productDetail}
			,PRODUCT_FULL_DETAIL = #{productFullDetail}
			,PRODUCT_BARCODE = #{productBarCode}
			,PRODUCT_QR_CODE = #{productQrCode}
			,PRODUCT_ACTIVE_FLAG = #{productActiveFlag}
			,CAMPAIGN_ID = #{campaignId}
			,START_DATE = #{startDate}
			,END_DATE = #{endDate}
			,UPDATED_DATE = NOW()
			,UPDATED_BY = #{updatedBy}
			,PRODUCT_CATEGORY = #{productCategoryId}
			,PRODUCT_SUB_CATEGORY = #{productSubCategoryId}
			,PROGRAM_ID = #{programId}
			,FILE_ORIGINAL_NAME = #{fileOriginalName}
			,FILE_PHYSICAL_NAME = #{filePhysicalName}
			,IS_GIFT_CARD_FLAG = #{isGiftCardFlag}
		WHERE PRODUCT_ID = #{productId}
	</update>
	
	<delete id="deleteProduct">
			DELETE FROM LOY_PRODUCT WHERE PRODUCT_ID = #{productId}
	</delete>
	
	<update id="addInventoryBalance">
		UPDATE LOY_PRODUCT
		SET INVENTORY_BALANCE = IFNULL(INVENTORY_BALANCE, 0) + #{quantity}
		WHERE PRODUCT_ID = #{productId}
	</update>
	
	<update id="subtractInventoryBalance">
		UPDATE LOY_PRODUCT
		SET INVENTORY_BALANCE = IFNULL(INVENTORY_BALANCE, 0) - #{quantity}
		WHERE PRODUCT_ID = #{productId}
	</update>
</mapper>