<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer">
	<select id="getCustomerList" resultType="customerData"> 
       select
		 t.`CUSTOMER_ID`, t.`CUSTOMER_TYPE`, 
		 CASE t.`CUSTOMER_TYPE` WHEN true THEN CONCAT(t.`FIRST_NAME`,' ', t.`LAST_NAME`) ELSE t.`BUSINESS_NAME` END AS FULL_NAME,
         
		 t.`TITLE`, t.`FIRST_NAME`, t.`LAST_NAME`, t.`CITIZEN_ID`, t.PASSPORT_NO,
		 t.`NATIONALITY`,
		 t.`BUSINESS_NAME`, t.`TAX_ID`,
         t.`CUSTOMER_STATUS`,
         cb.code_name as customerStatusName,
		 t.email,
		 
         CONCAT(COALESCE(u1.FIRST_NAME,''), ' ',COALESCE(u1.LAST_NAME,'')) AS APPROVED_BY_NAME,
         t.`APPROVED_DATE`,
         CONCAT(COALESCE(u3.FIRST_NAME,''), ' ',COALESCE( u3.LAST_NAME,'')) AS updatedByName,
         t.UPDATED_DATE,
         t.PICTURE_URL
		from vw_customer_search_list t
        LEFT OUTER JOIN TB_USER u1 ON t.APPROVED_BY = u1.ID
        LEFT JOIN TB_USER u3 ON t.UPDATED_BY = u3.ID
        INNER JOIN TB_CODEBOOK cb ON t.CUSTOMER_STATUS = cb.code_id and cb.code_type='CUSTOMER_CRM_STATUS'
		<where>	
			<if test="passportNo != null and passportNo != ''">
				<bind name="passportNo" value="'%' + passportNo + '%'" />
		    		AND t.PASSPORT_NO like #{passportNo}
		  	</if>
		  	<if test="citizenId != null and citizenId != ''">
				<bind name="citizenId" value="'%' + citizenId + '%'" />
		    		AND t.CITIZEN_ID like #{citizenId}
		  	</if>
			<if test="firstName != null and firstName != ''">
				<bind name="firstName" value="'%' + firstName + '%'" />
		    		AND (t.FIRST_NAME like #{firstName} or t.BUSINESS_NAME like #{firstName})
		  	</if>
			<if test="lastName != null and lastName != ''">
				<bind name="lastName" value="'%' + lastName + '%'" />
		    		AND t.LAST_NAME like #{lastName}
		  	</if>
		  	<if test="buId != null and buId != ''">
				<bind name="buId" value="buId" />
		  			AND t.`BU_ID` = #{buId}
		  	</if>
		   	<if test="customerStatus != null and customerStatus != ''">
				 	AND t.`CUSTOMER_STATUS` = #{customerStatus}
		  	</if>  
		  	<if test="customerType != null and customerType != ''">
				 	AND t.`CUSTOMER_TYPE` = #{customerType}
		  	</if>   
		  	<if test="phoneNo != null and phoneNo != ''">
		    	AND t.PHONE_NO = #{phoneNo}
		  	</if>
		  	
		</where>
	  	<choose>
		  	<when test="sortColumn != null and sortColumn != ''">
		  		<if test="sortColumn == 'lastName'">
		  			order by t.LAST_NAME ${sortDirection}
		  		</if>
		  		<if test="sortColumn == 'firstName'">
		  			order by t.FIRST_NAME ${sortDirection}
		  		</if>
		  		<if test="sortColumn == 'fullName'">
		  			order by FULL_NAME ${sortDirection}
		  		</if>
		  		<if test="sortColumn == 'customerStatus'">
		  			order by t.`CUSTOMER_STATUS` ${sortDirection}
		  		</if>
		  	</when>
		  	<otherwise>
		  		 ORDER BY t.CUSTOMER_ID,FULL_NAME ASC
		  	</otherwise>
	  	</choose>
	</select>
	
	<select id="findCustomerById" resultType="CustomerData">
			SELECT 
				`t`.`CUSTOMER_ID`,
			    `t`.`CUSTOMER_TYPE`,
			    `t`.`CUSTOMER_STATUS`,
			    `t`.`CITIZEN_ID`,
			    `t`.`PASSPORT_NO`,
			    `t`.`TITLE`,
			    `t`.`FIRST_NAME`,
			    `t`.`LAST_NAME`,
			    `t`.`BUSINESS_NAME`,
			    `t`.`GENDER`,
			    `t`.`NATIONALITY`,
			    `t`.`BIRTHDATE`,
			    `t`.`email`,
			    `t`.`OCCUPATION`,
			    `t`.`MARITAL_STATUS`,
			    `t`.`IMAGE_URL`,
			    `t`.`APPROVED_DATE`,
			    `t`.`APPROVED_BY`,
			    `t`.`REGISTRATION_STORE`,
			    `t`.`REGISTRATION_CHANNEL`,
			    `t`.`REMARK`,
			    `t`.`BU_ID`,
				 CONCAT(COALESCE(u1.FIRST_NAME,''), ' ',COALESCE(u1.LAST_NAME,'')) AS createdByName,	 
			    `t`.`CREATED_DATE`,
			     CONCAT(COALESCE(u2.FIRST_NAME,''), ' ',COALESCE( u2.LAST_NAME,'')) AS updatedByName,
			    `t`.`UPDATED_DATE`,      
			    `t`.`TAX_ID`,
			    `t`.`BUSINESS_TYPE`,
			    `t`.`PHONE_AREA`,
			    `t`.`PHONE_NO`,
			    `t`.`EMAIL`,
			    `t`.`PROGRAM_ID`,
			    `t`.`PICTURE_URL`
			FROM `tb_customer` t
			LEFT JOIN TB_USER u1 ON t.CREATED_BY = u1.ID
			LEFT JOIN TB_USER u2 ON t.UPDATED_BY = u2.ID
			WHERE t.customer_id = #{customerId}
	</select>
	
	<select id="findCustomerByCitizenIdOrPassportNo" resultType="customerData"> 
       	select
		 t.CUSTOMER_ID,
		 CASE t.CUSTOMER_TYPE
		 	WHEN true THEN CONCAT(t.FIRST_NAME,' ', t.LAST_NAME)
		 	ELSE t.BUSINESS_NAME
		 	END AS FULL_NAME 
		from vw_customer_search_list t
		<where>
			<if test="passportNo != null and passportNo != ''">
		    	AND t.PASSPORT_NO = #{passportNo}
		  	</if>
		  	<if test="citizenId != null and citizenId != ''">
		    	AND t.CITIZEN_ID like #{citizenId}
		  	</if>
		  	<if test="buId != null and buId != ''">
		  		AND t.BU_ID = #{buId}
		  	</if>
		</where>
	</select>
	
	<update id="updateCustomer">
		UPDATE tb_customer SET 
			`UPDATED_BY`=#{updatedBy}, `UPDATED_DATE`=NOW(), 
			`TITLE`=#{title}, `FIRST_NAME`=#{firstName}, `LAST_NAME`=#{lastName}, 
			`NATIONALITY`=#{nationality}, `CITIZEN_ID`=#{citizenId}, `PASSPORT_NO`=#{passportNo}, `TAX_ID`=#{taxId}, 
			`BIRTHDATE`=#{birthDate}, `GENDER`=#{gender}, `MARITAL_STATUS`=#{maritalStatus}, 
			`PHONE_AREA`=#{phoneArea},`PHONE_NO`=#{phoneNo},`EMAIL`=#{email},
			`OCCUPATION`=#{occupation}, `PROGRAM_ID`=#{programId},
			`BUSINESS_NAME`=#{businessName}, `BUSINESS_TYPE`=#{businessType},
			`REGISTRATION_CHANNEL`=#{registrationChannel},`REGISTRATION_STORE`=#{registrationStore},	
			`CUSTOMER_STATUS`=#{customerStatus},`REMARK`=#{remark}			
		WHERE `CUSTOMER_ID`=  #{customerId}
	</update>
	<update id="updateCustomerStatus">
		UPDATE tb_customer			
		<set>
			`UPDATED_BY`=#{updatedBy}, `UPDATED_DATE`=NOW(), 
			`CUSTOMER_STATUS`=#{customerStatus},
			<if test="approvedBy !=null and approvedBy!=''">
				APPROVED_BY = #{approvedBy}, 
				APPROVED_DATE = NOW(),
			</if>
		</set>	
		WHERE `CUSTOMER_ID`=  #{customerId}
	</update>
	<insert id="createCustomer" keyColumn="CUSTOMER_ID" keyProperty="customerId" useGeneratedKeys="true">
		INSERT INTO tb_customer (
			`PROGRAM_ID`,
			`CUSTOMER_TYPE`,
			`TITLE`,
			`FIRST_NAME`,
			`LAST_NAME`,
			`NATIONALITY`,
			`CITIZEN_ID`,
			`PASSPORT_NO`,
			`TAX_ID`, 
			`BIRTHDATE`,
			`GENDER`, 
			`MARITAL_STATUS`, 
			`OCCUPATION`, 
			`BUSINESS_NAME`, 
			`BUSINESS_TYPE`, 
			`PHONE_AREA`,
			`PHONE_NO`,
			`EMAIL`,
			`REGISTRATION_CHANNEL`,
			`REMARK`,
			`REGISTRATION_STORE`,			
			`CUSTOMER_STATUS`,
			`BU_ID`,
			`CREATED_BY`, 
			`CREATED_DATE`, 
			`UPDATED_BY`, 
			`UPDATED_DATE`
		) VALUES(
			#{programId},
			#{customerType}, 
			#{title}, 
			#{firstName}, 
			#{lastName}, 
			#{nationality}, 
			#{citizenId}, 
			#{passportNo}, 
			#{taxId}, 
			#{birthDate}, 
			#{gender}, 
			#{maritalStatus}, 
			#{occupation}, 
			#{businessName}, 
			#{businessType},
			#{phoneArea},
			#{phoneNo},
			#{email},
			#{registrationChannel},
			#{remark},
			#{registrationStore},
			#{customerStatus},
			#{buId},
			#{createdBy}, 
			NOW(), 
			#{updatedBy}, 
			NOW()
		)
	</insert>
	
	<select id="getCustomerAddressList" resultType="AddressData">
		select a.*,
			concat( a.ADDRESS,' ',ifnull(t.SUB_DISTRICT,''),' ',ifnull(t.DISTRICT,''),' ',ifnull(t.PROVINCE,'')) as fullAddress
		from tb_customer_address a
		left join tb_province t on a.SUB_DISTRICT=t.LOCATION_CODE and a.POSTCODE = t.POSTAL_CODE
		<where>
			<if test="customerId != null">
				AND a.CUSTOMER_ID = #{customerId}
			</if>
			<if test="buId != null">
				AND a.BU_ID = #{buId}
			</if>
		</where>
	</select>
	
	<select id="findCustomerAddressById" resultType="AddressData">
		select a.*, concat( a.`ADDRESS`,' ',ifnull(t.`SUB_DISTRICT`,''),' ',ifnull(t.`DISTRICT`,''),' ',ifnull(t.`PROVINCE`,'')) as fullAddress
		from tb_customer_address a
		left join tb_province t on a.`SUB_DISTRICT`=t.`LOCATION_CODE`and a.`POSTCODE` = t.`POSTAL_CODE`
		<where>	
			<if test="addressId != null and addressId != ''">
				<bind name="addressId" value="addressId" />
		    		AND a.ADDRESS_ID =  #{addressId}
		  	</if>
		  	<if test="primaryYn != null and primaryYn != ''">
				<bind name="primaryYn" value="primaryYn" />
		    		AND a.PRIMARY_YN = #{primaryYn}
		  	</if>
		  	<if test="customerId != null and customerId != ''">
				<bind name="customerId" value="customerId" />
		    		AND a.CUSTOMER_ID = #{customerId}
		  	</if>
			<if test="buId != null">
				AND a.BU_ID = #{buId}
			</if>
		</where>
	</select>
	<update id="updateCustomerAddress">
		UPDATE tb_customer_address SET
			`ADDRESS_TYPE`=#{addressType}, 
			`PRIMARY_YN`=#{primaryYn}, 
			`ADDRESS`=#{address}, 
			`SUB_DISTRICT`=#{subDistrict}, 
			`DISTRICT`=#{district},
			`PROVINCE`=#{province},
			`COUNTRY`=#{country}, 
			`POSTCODE`=#{postCode}, 
			`UPDATED_BY`=#{updatedBy}, 
			`UPDATED_DATE`=NOW() 
		WHERE `ADDRESS_ID` = #{addressId}
	</update>
	<insert id="createCustomerAddress" keyColumn="ADDRESS_ID" keyProperty="addressId" useGeneratedKeys="true">
		INSERT INTO tb_customer_address (
			`CUSTOMER_ID`,
			`ADDRESS_TYPE`,
			`PRIMARY_YN`,
			`ADDRESS`,
			`SUB_DISTRICT`,
			`DISTRICT`,
			`PROVINCE`,
			`COUNTRY`,
			`POSTCODE`,
			`BU_ID`,
			`CREATED_BY`,
			`CREATED_DATE`,
			`UPDATED_BY`,
			`UPDATED_DATE`
		) VALUES (
			#{customerId},
			#{addressType}, 
			#{primaryYn},
			#{address},
			#{subDistrict},
			#{district},
			#{province},
			#{country},
			#{postCode},
			#{buId},
			#{createdBy},
			NOW(),
			#{updatedBy},
			NOW()
		);
			
	</insert>
	<update id="clearCustomerAddressPrimary">
		UPDATE tb_customer_address SET 
			`PRIMARY_YN`='N',
			`UPDATED_BY`=#{updatedBy}, 
			`UPDATED_DATE`=NOW() 
		WHERE `CUSTOMER_ID` = #{customerId}  AND `PRIMARY_YN` = 'Y'
	</update>
	
	<delete id="deleteCustomerAddress">
			DELETE FROM tb_customer_address WHERE `ADDRESS_ID` = #{addressId}
	</delete>
	
	<insert id="createContact" keyColumn="CONT_ID" keyProperty="contId" useGeneratedKeys="true">
		
			INSERT INTO `tb_contact`
				(`CUST_ID`,
				`CREATED_DATE`,
				`CREATED_BY`,
				`UPDATED_DATE`,
				`UPDATED_BY`)
			VALUES( 
				#{customerId},
				NOW(), 
				#{createdBy}, 
				NOW(), 
				#{updatedBy} 
			);
				
			<!-- INSERT INTO `tb_customer_contact`
				(
				`CUST_ID`,
				`CONT_ID`,
				`RELATION_CD`,
				`CREATED_DATE`,
				`CREATED_BY`,
				`UPDATED_DATE`,
				`UPDATED_BY`)
				VALUES
				#{customerId},
				#{contId},
				#{RELATION_CD},
				#{createdBy}, 
				NOW(), 
				#{updatedBy}, 
				NOW()
				);
		  -->
	</insert>
	<select id="findCustomerByPhoneNo" resultType="customerData"> 
       	select
		 t.CUSTOMER_ID,
		 CASE t.CUSTOMER_TYPE
		 	WHEN true THEN CONCAT(t.FIRST_NAME,' ', t.LAST_NAME)
		 	ELSE t.BUSINESS_NAME
		 	END AS FULL_NAME,
		 	t.PHONE_NO
		from vw_customer_search_list t
		<where>
			<if test="phoneNo != null and phoneNo != ''">
		    	AND t.PHONE_NO = #{phoneNo}
		  	</if>
		  	 
		</where>
	</select>
	
	
	<select id="findOneCustomerByEmail" resultType="customerData"> 
       	select
		 t.CUSTOMER_ID,
		 CASE t.CUSTOMER_TYPE
		 	WHEN true THEN CONCAT(t.FIRST_NAME,' ', t.LAST_NAME)
		 	ELSE t.BUSINESS_NAME
		 	END AS FULL_NAME,
		 	t.PHONE_NO
		from vw_customer_search_list t
		<where>
			<if test="email != null and email != ''">
		    	AND t.EMAIL = #{email}
		  	</if>
		  	 
		</where>
		limit 1
	</select>
	<update id="updateCustomerProfileImage">
		UPDATE tb_customer SET
			  PICTURE_URL = #{pictureUrl}
			, UPDATED_DATE = NOW()
		WHERE CUSTOMER_ID = #{customerId}
	</update>
	
	
	<select id="getCustomerCaseList" resultType="CaseModelBean">
		SELECT 		
		    LC.CASE_NUMBER,
			LC.DETAIL,
		    LC.TYPE,
			LC.SUBTYPE,
		    LC.PRIORITY,
		    LC.STATUS,
		    LC.CHANNEL,
		    LC.OWNER,
		    LC.SUBJECT,
		    LC.OPENED_DATE as openedDateDate,
		    LC.CLOSED_DATE as closedDateDate,
		    LC.BU_ID,
		    LC.CUSTOMER_ID,
            CB1.CODE_NAME AS typeName,
            CB2.CODE_NAME AS subTypeName,
            CB3.CODE_NAME AS priorityName,
            CB4.CODE_NAME AS channelName,
            CB5.CODE_NAME AS statusName,
            CONCAT(IFNULL(U.FIRST_NAME,''),' ',IFNULL(U.LAST_NAME,'')) displayName
		FROM
		    TB_CASE LC
			INNER JOIN TB_CODEBOOK CB1 ON LC.TYPE = CB1.CODE_ID AND CB1.CODE_TYPE = 'CASE_TYPE'
	        INNER JOIN TB_CODEBOOK CB2 ON LC.SUBTYPE = CB2.CODE_ID AND CB2.CODE_TYPE = 'CASE_SUBTYPE'
	        INNER JOIN TB_CODEBOOK CB3 ON LC.PRIORITY = CB3.CODE_ID AND CB3.CODE_TYPE = 'CASE_PRIORITY'
	        INNER JOIN TB_CODEBOOK CB4 ON LC.CHANNEL = CB4.CODE_ID AND CB4.CODE_TYPE = 'CASE_CHANNEL'
	        INNER JOIN TB_CODEBOOK CB5 ON LC.STATUS = CB5.CODE_ID AND CB5.CODE_TYPE = 'CASE_STATUS'
	        LEFT JOIN tb_user U ON LC.OWNER = U.ID
		<where>
			<if test="customerId != null and customerId != ''">
				AND LC.CUSTOMER_ID = #{customerId}
			</if>
			<if test="buId != null">
				AND LC.BU_ID = #{buId}
			</if>
		</where>
		ORDER BY LC.CREATED_DATE DESC 
	</select>
	
	
	<select id="getCustomerSrList" resultType="ServiceRequestModelBean">
		SELECT
		TCM.FIRST_NAME AS FIRST_NAME,
		TCM.LAST_NAME AS LAST_NAME,
		TCM.BUSINESS_NAME AS BUSINESS_NAME,
		TCM.CUSTOMER_TYPE AS MEMBER_TYPE,
		 TCM.TITLE AS TITLE,
		TCM.PHONE_NO AS PHONE_NO,
		 TCM.EMAIL AS EMAIL,
		LC.SR_NUMBER as srNumber,
		LC.DETAIL,
		LC.TYPE,
		LC.SUBTYPE,
		LC.PRIORITY,
		LC.STATUS,
		LC.CHANNEL,
		LC.OWNER,
		LC.SUBJECT,
		LC.DUE_DATE,
		LC.OPENED_DATE,
		LC.CLOSED_DATE,        
       	CB4.CODE_NAME AS divisionTypeName,
		LC.DIVISION_TYPE_CODE as divisionTypeCode,	
		LC.CATEGORY_TYPE_CODE as categoryTypeCode,	
		LC.SERVICE_AREA_CODE as serviceAreaCode,
		LC.WORK_NOTE as workNote,
		LC.INFORM_NAME as informName,		
		LC.BU_ID,
		LC.CUSTOMER_ID,
		LC.CREATED_DATE,
		LC.CREATED_BY,
		LC.UPDATED_DATE,
		LC.UPDATED_BY,
		CONCAT(COALESCE(u1.FIRST_NAME,''), ' ',COALESCE(u1.LAST_NAME,'')) AS createdByName,
   		 CONCAT(COALESCE(u2.FIRST_NAME,''), ' ',COALESCE( u2.LAST_NAME,'')) AS updatedByName,
		CONCAT(USR.FIRST_NAME,' ',USR.LAST_NAME) AS displayName,
		CB1.CODE_NAME AS typeName,
		CB2.CODE_NAME AS subTypeName,
		CB3.CODE_NAME AS priorityName
		FROM
		TB_SR LC
		INNER JOIN TB_USER USR ON LC.OWNER = USR.ID
		LEFT OUTER JOIN  TB_CODEBOOK CB1 ON LC.TYPE = CB1.CODE_ID AND CB1.CODE_TYPE = 'SR_TYPE'
		LEFT OUTER JOIN  TB_CODEBOOK CB2 ON LC.SUBTYPE = CB2.CODE_ID AND CB2.CODE_TYPE = 'SR_SUBTYPE'
		LEFT OUTER JOIN  TB_CODEBOOK CB3 ON LC.PRIORITY = CB3.CODE_ID AND CB3.CODE_TYPE = 'SR_PRIORITY'
        LEFT OUTER JOIN  TB_CODEBOOK CB4 ON LC.DIVISION_TYPE_CODE = CB4.CODE_ID AND CB4.CODE_TYPE = 'SR_DIVISION'  
		LEFT OUTER JOIN  TB_CUSTOMER TCM ON LC.CUSTOMER_ID = TCM.CUSTOMER_ID		 
		LEFT OUTER JOIN  TB_USER u1 ON LC.CREATED_BY = u1.ID
		LEFT OUTER JOIN  TB_USER u2 ON LC.UPDATED_BY = u2.ID
		
	<where>
			<if test="customerId != null and customerId != ''">
				AND LC.CUSTOMER_ID = #{customerId}
			</if>
			<if test="buId != null">
				AND LC.BU_ID = #{buId}
			</if>
		</where>
		ORDER BY LC.CREATED_DATE DESC 
	</select>
	
 	<select id="getCustomerAuditLogList" resultType="CustomerAuditLogBean">
		SELECT 
			clog.`ID`,
		    clog.`CUSTOMER_ID`,
		    clog.`ACTION_TYPE`,
		    clog.`FIELD_NAME` as fieldName,
		    clog.`OLD_VALUE`,
		    clog.`NEW_VALUE`,
		    CONCAT( clog.`OLD_VALUE`,'  >  ', clog.`NEW_VALUE`)as changedDetail,
		    clog.`REMARK`,
		    clog.`BU_ID`,
		    clog.`CREATED_DATE`,
		    CONCAT(COALESCE(u1.FIRST_NAME,''), ' ',COALESCE(u1.LAST_NAME,'')) AS createdByName
		FROM tb_customer_audit_log clog
	 	LEFT OUTER JOIN  TB_USER u1 ON clog.CREATED_BY = u1.ID

		<where>
			<if test="customerId != null">
				AND clog.CUSTOMER_ID = #{customerId}
			</if>
			<if test="buId != null">
				AND clog.BU_ID = #{buId}
			</if>
		</where>
		ORDER BY clog.`ID` DESC 
	</select>
</mapper>