<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="consulting">

	<select id="generateConsultingNumber" resultType="String" statementType="CALLABLE">
	  	call GEN_NEW_SEQUENCE(
	  		'CONSULTING_SEQUENCE',
	    	#{buId, jdbcType = INTEGER, mode = IN}
	  	)
	 </select>
	
	<insert id="createConsulting" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO  `tb_consulting`
							( 
							`CONSULTING_NUMBER`,
							`CHANNEL_CD`,
							`STATUS_CD`,
							`START_DATE`,
							`TITLE`,
							`CALLING_NUMBER`,
							`CALL_OBJECT_ID`,
							`OWNER_ID`,
							`NOTE`,
							`CONSULTING_TYPE_CD`,
							`CONTACT_ID`,
							`CREATED_DATE`,
							`CREATED_BY`
							)
							VALUES
							(
							#{consultingNumber},
						    #{channelCd},
						    #{statusCd},
						    NOW(),
						    #{title},
						    #{callingNumber},
						    #{callObjectId},
						    #{ownerId},
						    #{note},
						    #{consultingTypeCd},
						    #{contactId},
							NOW() ,
							#{createdBy}
							);

	</insert>
	
	 <update id="updateConsulting">
		 	UPDATE `tb_consulting`
			SET
				`CUST_ID` = #{customerId},
				`OWNER_ID` = #{ownerId},
				`CONTACT_ID` = #{contactId},
				`CHANNEL_CD` = #{channelCd},
				`STATUS_CD` = #{statusCd},
				`END_DATE` = NOW(),
				`TITLE` = #{title},
				`CALLING_NUMBER` = #{callingNumber},
				`CALL_OBJECT_ID` = #{callObjectId},
				`NOTE` = #{note},
								
				
				
				`UPDATED_DATE` =NOW(),
				`UPDATED_BY` = #{updatedBy}
			WHERE (`id` = #{id})
	</update>
	
	
	<select id="findConsultingById" resultType="ConsultingModelBean">
		select * from tb_consulting where id = #{id}
	</select>
	
	<select id="findConsultingData" resultType="ConsultingModelBean">
		SELECT 
			cons.id as id
			,cons.CONSULTING_NUMBER  as consultingNumber
			,CONCAT(IFNULL(cust.FIRST_NAME,''),' ',IFNULL(cust.LAST_NAME,'')) as customerName
			,CONCAT(IFNULL(U.FIRST_NAME,''),' ',IFNULL(U.LAST_NAME,'')) as ownerName
			,cons.CHANNEL_CD as channelCd
			,cb1.CODE_NAME as channelName
			,cons.STATUS_CD as statusCd
			,cb2.CODE_NAME as statusName
			,cons.START_DATE as startDate
			,cons.END_DATE as endDate
			,cons.TITLE	as title 
			,cons.note	as note
			
		FROM jlo_crm.tb_consulting cons
		LEFT OUTER JOIN  tb_customer cust on cons.CUST_ID = cust.CUSTOMER_ID
		LEFT OUTER JOIN tb_codebook cb1 ON cons.CHANNEL_CD = cb1.CODE_ID AND cb1.CODE_TYPE = 'CONSULTING_CHANNEL'
		LEFT OUTER JOIN tb_codebook cb2 ON cons.STATUS_CD = cb2.CODE_ID AND cb2.CODE_TYPE = 'CONSULTING_STATUS'
		LEFT OUTER JOIN tb_user U ON cons.OWNER_ID = U.ID
		WHERE cons.id =  #{id}
	</select>
	
	<select id="findConsultingDataList" resultType="ConsultingModelBean">
		SELECT 
			cons.id as id
			,cons.CONSULTING_NUMBER  as consultingNumber
			,cons.CHANNEL_CD as channelCd
			,cb1.CODE_NAME as channelName
			,CONCAT(IFNULL(U.FIRST_NAME,''),' ',IFNULL(U.LAST_NAME,'')) as ownerName
				, cust.business_Name as businessName
			, CASE cust.`CUSTOMER_TYPE` WHEN true THEN CONCAT(IFNULL(cust.FIRST_NAME,''),' ',IFNULL(cust.LAST_NAME,'')) ELSE cust.business_Name END AS customerName
            ,cust.`CUSTOMER_TYPE` as customerType
			,cons.START_DATE as startDate
			,cons.END_DATE as endDate
	
			,cons.STATUS_CD as statusCd
			,cb2.CODE_NAME as statusName
			
			
			
			,cons.TITLE	as title 
			,cons.note	as note
			
		FROM jlo_crm.tb_consulting cons
		LEFT OUTER JOIN  tb_customer cust on cons.CUST_ID = cust.CUSTOMER_ID
		LEFT OUTER JOIN tb_codebook cb1 ON cons.CHANNEL_CD = cb1.CODE_ID AND cb1.CODE_TYPE = 'CONSULTING_CHANNEL'
		LEFT OUTER JOIN tb_codebook cb2 ON cons.STATUS_CD = cb2.CODE_ID AND cb2.CODE_TYPE = 'CONSULTING_STATUS'
		LEFT OUTER JOIN tb_user U ON cons.OWNER_ID = U.ID
		<where>
			<if test="consultingNumber != null and consultingNumber != ''">
				AND cons.CONSULTING_NUMBER = #{consultingNumber}
			</if>
			<if test="channelCd != null and channelCd != ''">
				AND cons.CHANNEL_CD = #{channelCd}
			</if>
			<if test="ownerId != null and ownerId != ''">
				AND cons.OWNER_ID = #{ownerId}
			</if>
			<if test="customerId != null and customerId != ''">
				AND cons.CUST_ID = #{customerId}
			</if>
			<if test="statusCd != null and statusCd != ''">
				AND cons.STATUS_CD = #{statusCd}
			</if>
			
			<if test="startDate != null"> 
				<![CDATA[ AND DATE(cons.START_DATE) >= #{startDate, jdbcType=DATE}]]>
			</if>
			<if test="endDate != null">			 
				<![CDATA[ AND DATE(cons.START_DATE) <= #{endDate, jdbcType=DATE} ]]>
			</if>
			 
			 
		</where>
		ORDER BY cons.CONSULTING_NUMBER DESC 
	</select>
</mapper>