<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emailAttInbound">
	<select id="getAttachmentEmailInboundList" resultType="InboundAttachmentReceiveMailBean">
			SELECT 
				att.* 
			FROM tb_email_inbound_attachment att
		
		<where>
			<if test="attachmentId != null and attachmentId != ''">
				AND att.ATTACHMENT_ID = #{attachmentId}
			</if>
		</where>
		ORDER BY LC.CREATED_DATE DESC,LC.CASE_NUMBER DESC
	</select>
 
	<select id="findEmailInboundAttById" resultType="InboundAttachmentReceiveMailBean">
			SELECT EI.* FROM tb_email_inbound_attachment EI WHERE EI.ID = #{id}
	</select>

	<insert id="createEmailInboundAtt" keyColumn="ID" keyProperty="id" useGeneratedKeys="true">
		
			INSERT INTO `tb_email_inbound_attachment`
			(	 
			`ATTACHMENT_ID`,
			`EMAIL_INBOUND_ID`,
			`BU_ID`,
			`CREATED_DATE`,
			`CREATED_BY`,
			`UPDATED_DATE`,
			`UPDATED_BY`
			) VALUES( 
			#{attachmentId},
			#{emailInboundId},
			#{buId},
			NOW(),
			#{createdBy},
			NOW(),
			#{updatedBy}
			)
		
	</insert>
	
	
	 <select id="getEmailInboundAttListByParent" resultType="InboundAttachmentReceiveMailBean">
		SELECT
			att.ID as id,
			attach.ATT_ID as attachmentId,
			att.EMAIL_INBOUND_ID as emailInboundId,
			attach.FILE_NAME as fileName, 
			attach.FILE_PATH as filePath,
			CONCAT(attach.FILE_PATH,'\\', attach.FILE_NAME) as fullPath,
			att.BU_ID as buId,
			attach.FILE_EXTENSION as fileExtension,
			attach.FILE_SIZE as fileSize,
			att.CREATED_DATE as createdDate,
			att.CREATED_BY as createdBy ,
			att.UPDATED_DATE as updatedDate,
			att.UPDATED_BY as updatedBy
		FROM tb_email_inbound_attachment att
		left outer join tb_att attach on att.ATTACHMENT_ID = attach.ATT_ID
		WHERE att.EMAIL_INBOUND_ID = #{id}
		AND att.BU_ID = #{buId}
		ORDER BY att.CREATED_DATE DESC 
		 
	</select>
	
	 

 

</mapper>