<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campaign">
	<select id="getCampaignList" resultType="campaignModelBean"> 
       		SELECT C.CAMPAIGN_ID
				, C.CAMPAIGN_CODE
				, C.CAMPAIGN_NAME AS CAMPAIGN
				, C.CAMPAIGN_TYPE AS CAMPAIGN_TYPE_ID
				, CB1.CODE_NAME AS CAMPAIGN_TYPE
				, C.DETAIL
				, C.START_DATE
				, C.END_DATE
				, C.ACTIVE_FLAG
				, C.CREATED_DATE
				, C.CREATED_BY
				, C.UPDATED_DATE
				, C.UPDATED_BY 
			FROM LOY_CAMPAIGN C
			LEFT JOIN TB_CODEBOOK CB1 ON CB1.CODE_ID = C.CAMPAIGN_TYPE  AND CB1.CODE_TYPE = 'CAMPAIGN_TYPE'
		<where>	
			<if test="campaignCode != null">
				<bind name="campaignCode" value="'%' + campaignCode + '%'" />
		    	C.CAMPAIGN_CODE like #{campaignCode}
		  	</if>
			<if test="campaign != null">
		    	<bind name="campaign" value="'%' + campaign + '%'" />
		    	AND C.CAMPAIGN_NAME like #{campaign}
		  	</if>
		  	<if test="campaignTypeId != null">
		    	AND C.CAMPAIGN_TYPE = #{campaignTypeId}
		  	</if>
		  	<if test="activeFlag != null">
		    	AND C.ACTIVE_FLAG = #{activeFlag}
		  	</if>
		  	<if test="buId != null">
		    	AND C.BU_ID = #{buId}
		  	</if>
	  	</where>	  	
		<choose>
			<when test="sortColumn != null">
		  		<if test="sortColumn == 'campaignCode'">
		  			ORDER BY C.CAMPAIGN_CODE ${sortDirection}	  	
		  		</if>
		  		<if test="sortColumn == 'campaign'">
		  			ORDER BY C.CAMPAIGN_NAME ${sortDirection}	  	
		  		</if>
		  	</when>
		  	<otherwise>
		  		ORDER BY C.CAMPAIGN_NAME ASC	  	
		  	</otherwise>
	  	</choose>
	</select>
	
	<select id="findCampaignById" resultType="campaignModelBean">
			SELECT C.CAMPAIGN_ID
				, C.CAMPAIGN_CODE
				, C.CAMPAIGN_NAME AS CAMPAIGN
				, C.CAMPAIGN_TYPE AS CAMPAIGN_TYPE_ID
				, CB1.CODE_NAME AS CAMPAIGN_TYPE
				, C.DETAIL
				, C.START_DATE
				, C.END_DATE
				, C.ACTIVE_FLAG
				, C.CREATED_DATE
				, C.CREATED_BY
				, C.UPDATED_DATE
				, C.UPDATED_BY 
			FROM LOY_CAMPAIGN C
			LEFT JOIN TB_CODEBOOK CB1 ON CB1.CODE_ID = C.CAMPAIGN_TYPE  AND CB1.CODE_TYPE = 'CAMPAIGN_TYPE'
			WHERE C.CAMPAIGN_ID = #{campaignId}
	</select>
	
	<update id="updateCampaign">
			UPDATE LOY_CAMPAIGN  SET 
					 CAMPAIGN_NAME = #{campaign}
					, CAMPAIGN_CODE = #{campaignCode}
					, CAMPAIGN_TYPE = #{campaignTypeId}
					, DETAIL = #{detail}
					, START_DATE = #{startDate}
					, END_DATE = #{endDate}
					, ACTIVE_FLAG = #{activeFlag}
					, UPDATED_DATE = NOW()
					, UPDATED_BY = #{updatedBy}
			WHERE CAMPAIGN_ID = #{campaignId}
	</update>
	
	<insert id="createCampaign" keyColumn="CAMPAIGN_ID" keyProperty="campaignId" useGeneratedKeys="true">
			INSERT INTO LOY_CAMPAIGN(
					CAMPAIGN_CODE
					, CAMPAIGN_NAME
					, CAMPAIGN_TYPE
					, DETAIL
					, START_DATE
					, END_DATE
					, ACTIVE_FLAG
					, CREATED_DATE
					, CREATED_BY
					, UPDATED_DATE
					, UPDATED_BY
					, BU_ID
			) VALUES(
				    #{campaignCode}
				   ,#{campaign}
				   ,#{campaignTypeId}
				   ,#{detail}
				   ,#{startDate}
				   ,#{endDate}
				   ,#{activeFlag}
		           , NOW()
		           ,#{createdBy}
		           , NOW()
		           ,#{createdBy}
		           , #{buId}
		    )
	</insert>
</mapper>