<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="consulting">

	<select id="generateConsultingNumber" resultType="String" statementType="CALLABLE">
	  	call GEN_NEW_SEQUENCE(
	  		'CONSULTING_SEQUENCE',
	    	#{buId, jdbcType = INTEGER, mode = IN}
	  	)
	 </select>
	
	<insert id="createConsulting" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO  `tb_consulting`
							( 
							`CONSULTING_NUMBER`,
							`CHANNEL_CD`,
							`STATUS_CD`,
							`START_DATE`,
							`CALLING_NUMBER`,
							`CALL_OBJECT_ID`,
							`OWNER_ID`,
							`CONSULTING_TYPE_CD`,
							`CONTACT_ID`,
							`CUST_ID`,
							`CREATED_DATE`,
							`CREATED_BY`
							)
							VALUES
							(
							#{consultingNumber},
						    #{channelCd},
						    #{statusCd},
						    NOW(),
						    #{callingNumber},
						    #{callObjectId},
						    #{consOwnerId},
						    #{consultingTypeCd},
						    #{contactId},
						    #{customerId},
							NOW() ,
							#{createdBy}
							);

	</insert>
	
	 <update id="updateConsulting">
		 	UPDATE `tb_consulting`
			SET

				`CHANNEL_CD` = #{channelCd},
				`STATUS_CD` = #{statusCd},
				
				<if test="statusCd != null and statusCd != '' and statusCd != '01'">
				`END_DATE` = NOW(),
				</if>
				
				
				`TITLE` = #{title},
				`NOTE` = #{note},
				`CONSULTING_TYPE_CD`= #{consultingTypeCd},
				`CUST_ID` = #{customerId},
				`OWNER_ID` = #{consOwnerId},
				`CONTACT_ID` = #{contactId},
				
				`CALLING_NUMBER` = #{callingNumber},
				`CALL_OBJECT_ID` = #{callObjectId},
				`UPDATED_DATE` =NOW(),
				`UPDATED_BY` = #{updatedBy}
			WHERE (`CONSULTING_NUMBER` = #{consultingNumber})
	</update>
	
	
	 <update id="updateConsultingBindingCustomer">
		 	UPDATE `tb_consulting`
			SET
				`CUST_ID` = #{customerId},				 
				`UPDATED_DATE` =NOW(),
				`UPDATED_BY` = #{updatedBy}
			WHERE (`CONSULTING_NUMBER` = #{consultingNumber})
	</update>
	
	<select id="findConsultingById" resultType="ConsultingModelBean">
		select * from tb_consulting where id = #{id}
	</select>
	
	<select id="findConsultingData" resultType="ConsultingModelBean">
		SELECT 
			cons.id as id
			,cons.CONSULTING_NUMBER  as consultingNumber
			,cons.CHANNEL_CD as channelCd
			,cb1.CODE_NAME as channelName
			,CONCAT(IFNULL(U.FIRST_NAME,''),' ',IFNULL(U.LAST_NAME,'')) as consOwnerName
			, cust.business_Name as businessName
			, CASE cust.`CUSTOMER_TYPE` WHEN true THEN CONCAT(IFNULL(cust.FIRST_NAME,''),' ',IFNULL(cust.LAST_NAME,'')) ELSE cust.business_Name END AS customerName
            ,cust.`CUSTOMER_TYPE` as customerType
			,cons.START_DATE as startDate
			,cons.END_DATE as endDate
	
			,cons.STATUS_CD as statusCd
			,cb2.CODE_NAME as statusName
			
			,cons.TITLE	as title 
			,cons.note	as note
			
			,cons.OWNER_ID as consOwnerId
			,cons.CUST_ID as customerId
			
			
		    
			,CONCAT(COALESCE(u1.FIRST_NAME,''), ' ',COALESCE(u1.LAST_NAME,'')) AS createdByName
			,cons.CREATED_DATE AS createdDate 
            ,CONCAT(COALESCE(u2.FIRST_NAME,''), ' ',COALESCE( u2.LAST_NAME,'')) AS updatedByName
			,cons.UPDATED_DATE AS updatedDate
			
		FROM tb_consulting cons
		LEFT OUTER JOIN  tb_customer cust on cons.CUST_ID = cust.CUSTOMER_ID
		LEFT OUTER JOIN tb_codebook cb1 ON cons.CHANNEL_CD = cb1.CODE_ID AND cb1.CODE_TYPE = 'CONSULTING_CHANNEL'
		LEFT OUTER JOIN tb_codebook cb2 ON cons.STATUS_CD = cb2.CODE_ID AND cb2.CODE_TYPE = 'CONSULTING_STATUS'
		LEFT OUTER JOIN tb_user U ON cons.OWNER_ID = U.ID
		LEFT JOIN TB_USER u1 ON cons.CREATED_BY = u1.ID
		LEFT JOIN TB_USER u2 ON cons.UPDATED_BY = u2.ID
		WHERE cons.id =  #{id}
	</select>
	
	<select id="findConsultingDataList" resultType="ConsultingModelBean">
		SELECT 
			cons.id as id
			,cons.CONSULTING_NUMBER  as consultingNumber
			,cons.CHANNEL_CD as channelCd
			,cb1.CODE_NAME as channelName
			,CONCAT(IFNULL(U.FIRST_NAME,''),' ',IFNULL(U.LAST_NAME,'')) as consOwnerName
			, cust.business_Name as businessName
			, CASE cust.`CUSTOMER_TYPE` WHEN true THEN CONCAT(IFNULL(cust.FIRST_NAME,''),' ',IFNULL(cust.LAST_NAME,'')) ELSE cust.business_Name END AS customerName
            ,cust.`CUSTOMER_TYPE` as customerType
			,cons.START_DATE as startDate
			,cons.END_DATE as endDate
	
			,cons.STATUS_CD as statusCd
			,cb2.CODE_NAME as statusName
			
			,cons.TITLE	as title 
			,cons.note	as note
			
			,cons.OWNER_ID as consOwnerId
			,cons.CUST_ID as customerId
			
			,CONCAT(COALESCE(u1.FIRST_NAME,''), ' ',COALESCE(u1.LAST_NAME,'')) AS createdByName
			,cons.CREATED_DATE AS createdDate 
            ,CONCAT(COALESCE(u2.FIRST_NAME,''), ' ',COALESCE( u2.LAST_NAME,'')) AS updatedByName
			,cons.UPDATED_DATE AS updatedDate
			
		FROM tb_consulting cons
		LEFT OUTER JOIN  tb_customer cust on cons.CUST_ID = cust.CUSTOMER_ID
		LEFT OUTER JOIN tb_codebook cb1 ON cons.CHANNEL_CD = cb1.CODE_ID AND cb1.CODE_TYPE = 'CONSULTING_CHANNEL'
		LEFT OUTER JOIN tb_codebook cb2 ON cons.STATUS_CD = cb2.CODE_ID AND cb2.CODE_TYPE = 'CONSULTING_STATUS'
		LEFT OUTER JOIN tb_user U ON cons.OWNER_ID = U.ID
		LEFT JOIN TB_USER u1 ON cons.CREATED_BY = u1.ID
		LEFT JOIN TB_USER u2 ON cons.UPDATED_BY = u2.ID
		<where>
			<if test="consultingNumber != null and consultingNumber != ''">
				AND cons.CONSULTING_NUMBER = #{consultingNumber}
			</if>
			<if test="channelCd != null and channelCd != ''">
				AND cons.CHANNEL_CD = #{channelCd}
			</if>
			<if test="consOwnerId != null and consOwnerId != ''">
				AND cons.OWNER_ID = #{consOwnerId}
			</if>
			<if test="customerId != null and customerId != ''">
				AND cons.CUST_ID = #{customerId}
			</if>
			<if test="statusCd != null and statusCd != ''">
				AND cons.STATUS_CD = #{statusCd}
			</if>
			
			<if test="startDate != null"> 
				<![CDATA[ AND DATE(cons.START_DATE) >= #{startDate, jdbcType=DATE}]]>
			</if>
			<if test="endDate != null">			 
				<![CDATA[ AND DATE(cons.START_DATE) <= #{endDate, jdbcType=DATE} ]]>
			</if>
			 
			 
		</where>
		ORDER BY cons.CONSULTING_NUMBER DESC 
	</select>
	
	<select id="findConsultingDataListByCustomerId" resultType="ConsultingModelBean">
		SELECT 
			cons.id as id
			,cons.CONSULTING_NUMBER  as consultingNumber
			,cons.CHANNEL_CD as channelCd
			,cb1.CODE_NAME as channelName
			,CONCAT(IFNULL(U.FIRST_NAME,''),' ',IFNULL(U.LAST_NAME,'')) as consOwnerName
			, cust.business_Name as businessName
			, CASE cust.`CUSTOMER_TYPE` WHEN true THEN CONCAT(IFNULL(cust.FIRST_NAME,''),' ',IFNULL(cust.LAST_NAME,'')) ELSE cust.business_Name END AS customerName
            ,cust.`CUSTOMER_TYPE` as customerType
			,cons.START_DATE as startDate
			,cons.END_DATE as endDate
	
			,cons.STATUS_CD as statusCd
			,cb2.CODE_NAME as statusName
			
			,cons.TITLE	as title 
			,cons.note	as note
			
			,cons.OWNER_ID as consOwnerId
			,cons.CUST_ID as customerId
			
			,CONCAT(COALESCE(u1.FIRST_NAME,''), ' ',COALESCE(u1.LAST_NAME,'')) AS createdByName
			,cons.CREATED_DATE AS createdDate 
            ,CONCAT(COALESCE(u2.FIRST_NAME,''), ' ',COALESCE( u2.LAST_NAME,'')) AS updatedByName
			,cons.UPDATED_DATE AS updatedDate
			
		FROM tb_consulting cons
		LEFT OUTER JOIN  tb_customer cust on cons.CUST_ID = cust.CUSTOMER_ID
		LEFT OUTER JOIN tb_codebook cb1 ON cons.CHANNEL_CD = cb1.CODE_ID AND cb1.CODE_TYPE = 'CONSULTING_CHANNEL'
		LEFT OUTER JOIN tb_codebook cb2 ON cons.STATUS_CD = cb2.CODE_ID AND cb2.CODE_TYPE = 'CONSULTING_STATUS'
		LEFT OUTER JOIN tb_user U ON cons.OWNER_ID = U.ID
		LEFT JOIN TB_USER u1 ON cons.CREATED_BY = u1.ID
		LEFT JOIN TB_USER u2 ON cons.UPDATED_BY = u2.ID
		<where>
			<if test="customerId != null and customerId != ''">
				AND cons.CUST_ID = #{customerId}
			</if>
		</where>
		ORDER BY cons.CONSULTING_NUMBER DESC 
	</select>
	
	<select id="getCaseUnderConsultingList" resultType="CaseModelBean">
		SELECT 		
					
			TCM.FIRST_NAME AS FIRST_NAME,
		    TCM.LAST_NAME AS LAST_NAME,
		    TCM.BUSINESS_NAME AS BUSINESS_NAME,
		    TCM.CUSTOMER_TYPE AS MEMBER_TYPE,
		    TCM.TITLE AS TITLE,
		    TCM.PHONE_NO AS PHONE_NO,
		    TCM.EMAIL AS EMAIL,
			
		    LC.CASE_NUMBER,
			LC.DETAIL,
		    LC.TYPE,
			LC.SUBTYPE,
		    LC.PRIORITY,
		    LC.STATUS,
		    LC.CHANNEL,
		    LC.OWNER,
		    LC.SUBJECT,
		    LC.OPENED_DATE,
		    LC.CLOSED_DATE,
		    LC.BU_ID,
		    LC.CUSTOMER_ID,
		    
			CONCAT(COALESCE(u1.FIRST_NAME,''), ' ',COALESCE(u1.LAST_NAME,'')) AS createdByName,
			LC.CREATED_DATE AS createdDate ,
            CONCAT(COALESCE(u2.FIRST_NAME,''), ' ',COALESCE( u2.LAST_NAME,'')) AS updatedByName,
			LC.UPDATED_DATE AS updatedDate,
            
            CONCAT(USR.FIRST_NAME,' ',USR.LAST_NAME) AS displayName,
            CB1.CODE_NAME AS typeName,
            CB2.CODE_NAME AS subTypeName,
            CB3.CODE_NAME AS priorityName
		FROM
		    TB_CASE LC
            INNER JOIN TB_USER USR ON LC.OWNER = USR.ID
			INNER JOIN TB_CODEBOOK CB1 ON LC.TYPE = CB1.CODE_ID AND CB1.CODE_TYPE = 'CASE_TYPE'
	        INNER JOIN TB_CODEBOOK CB2 ON LC.SUBTYPE = CB2.CODE_ID AND CB2.CODE_TYPE = 'CASE_SUBTYPE'
	        INNER JOIN TB_CODEBOOK CB3 ON LC.PRIORITY = CB3.CODE_ID AND CB3.CODE_TYPE = 'CASE_PRIORITY'
            INNER JOIN TB_CUSTOMER TCM ON LC.CUSTOMER_ID = TCM.CUSTOMER_ID
			LEFT JOIN TB_USER u1 ON LC.CREATED_BY = u1.ID
			LEFT JOIN TB_USER u2 ON LC.UPDATED_BY = u2.ID
		<where>
		<if test="consultingNumber != null and consultingNumber != ''">
			AND LC.CONSULTING_NUMBER = #{consultingNumber}
		</if>
			
		</where>
		ORDER BY LC.CASE_NUMBER DESC 
	</select>
	
	 <update id="updateStopConsulting">
		 	UPDATE `tb_consulting`
			SET
				`CHANNEL_CD` = #{channelCd},
				`STATUS_CD` = #{statusCd},				
				`END_DATE` = NOW(),
				`UPDATED_DATE` =NOW(),
				`UPDATED_BY` = #{updatedBy}
			WHERE (`CONSULTING_NUMBER` = #{consultingNumber})
	</update>
	
</mapper>