<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="case">
    <select id="getCaseList" resultType="CaseModelBean">
		SELECT 		
			IFNULL(LMB.FIRST_NAME, TCM.FIRST_NAME) AS FIRST_NAME,
			IFNULL(LMB.LAST_NAME, TCM.LAST_NAME) AS LAST_NAME,
			IFNULL(LMB.BUSINESS_NAME, TCM.BUSINESS_NAME) AS BUSINESS_NAME,
			IFNULL(LMB.MEMBER_TYPE, TCM.CUSTOMER_TYPE) AS MEMBER_TYPE,
			IFNULL(LMB.TITLE, TCM.TITLE) AS TITLE,
			IFNULL(LMB.PHONE_NO, TCM.PHONE_NO) AS PHONE_NO,
			IFNULL(LMB.EMAIL, TCM.EMAIL) AS EMAIL,
		    LC.CASE_NUMBER,
			LC.DETAIL,
		    LC.TYPE,
			LC.SUBTYPE,
		    LC.PRIORITY,
		    LC.STATUS,
		    LC.CHANNEL,
		    LC.OWNER,
		    LC.SUBJECT,
		    LC.OPENED_DATE,
		    LC.CLOSED_DATE,
		    LC.BU_ID,
		    LC.CUSTOMER_ID,
			LC.CREATED_DATE,
			LC.CREATED_BY,
			LC.UPDATED_DATE,
			LC.UPDATED_BY,
            CONCAT(USR.FIRST_NAME,' ',USR.LAST_NAME) AS displayName,
            CB1.CODE_NAME AS typeName,
            CB2.CODE_NAME AS subTypeName,
            CB3.CODE_NAME AS priorityName
		FROM
		    TB_CASE LC
            INNER JOIN TB_USER USR ON LC.OWNER = USR.ID
			INNER JOIN TB_CODEBOOK CB1 ON LC.TYPE = CB1.CODE_ID AND CB1.CODE_TYPE = 'CASE_TYPE'
	        INNER JOIN TB_CODEBOOK CB2 ON LC.SUBTYPE = CB2.CODE_ID AND CB2.CODE_TYPE = 'CASE_SUBTYPE'
	        INNER JOIN TB_CODEBOOK CB3 ON LC.PRIORITY = CB3.CODE_ID AND CB3.CODE_TYPE = 'CASE_PRIORITY'
            INNER JOIN TB_CUSTOMER TCM ON LC.CUSTOMER_ID = TCM.CUSTOMER_ID
            LEFT JOIN LOY_MEMBER LMB ON LC.CUSTOMER_ID = LMB.CUSTOMER_ID
		<where>
			<if test="caseNumber != null and caseNumber != ''">
				AND LC.CASE_NUMBER = #{caseNumber}
			</if>
			<if test="type != null and type != ''">
				AND LC.TYPE = #{type}
			</if>
			<if test="subType != null and subType != ''">
				AND LC.SUBTYPE = #{subType}
			</if>
			<if test="buId != null">
				AND LC.BU_ID = #{buId}
			</if>
			<if test="status != null and status != ''">
				AND LC.STATUS = #{status}
			</if>
			<if test="customerId != null and customerId != ''">
				AND LC.CUSTOMER_ID = #{customerId}
			</if>
			<if test="ownerId != null and ownerId != ''">
				AND LC.OWNER = #{ownerId}
			</if>
			<if test="openedDateStart != null">
				<![CDATA[ AND DATE(LC.OPENED_DATE) >= #{openedDateStart, jdbcType=DATE}]]>
			</if>
			<if test="openedDateEnd != null">
				<![CDATA[ AND DATE(LC.OPENED_DATE) <= #{openedDateEnd, jdbcType=DATE} ]]>
			</if>
			<if test="closedDateStart != null">
				<![CDATA[ AND DATE(LC.CLOSED_DATE) >= #{closedDateStart, jdbcType=DATE}]]>
			</if>
			<if test="closedDateEnd != null">
				<![CDATA[ AND DATE(LC.CLOSED_DATE) <= #{closedDateEnd, jdbcType=DATE} ]]>
			</if>
		</where>
		ORDER BY LC.CREATED_DATE DESC,LC.CASE_NUMBER DESC 
	</select>
	
    <select id="getCaseByCaseNumber" resultType="caseModelBean">
		SELECT 		
			IFNULL(LMB.FIRST_NAME, TCM.FIRST_NAME) AS FIRST_NAME,
			IFNULL(LMB.LAST_NAME, TCM.LAST_NAME) AS LAST_NAME,
			IFNULL(LMB.BUSINESS_NAME, TCM.BUSINESS_NAME) AS BUSINESS_NAME,
			IFNULL(LMB.MEMBER_TYPE, TCM.CUSTOMER_TYPE) AS MEMBER_TYPE,
			IFNULL(LMB.TITLE, TCM.TITLE) AS TITLE,
			IFNULL(LMB.PHONE_NO, TCM.PHONE_NO) AS PHONE_NO,
			IFNULL(LMB.EMAIL, TCM.EMAIL) AS EMAIL,
		    LC.CASE_NUMBER,
			LC.DETAIL,
		    LC.TYPE,
			LC.SUBTYPE,
		    LC.PRIORITY,
		    LC.STATUS,
		    LC.CHANNEL,
		    LC.OWNER,
		    LC.SUBJECT,
		    LC.OPENED_DATE,
		    LC.CLOSED_DATE,
		    LC.BU_ID,
		    LC.CUSTOMER_ID,
			LC.CREATED_DATE,
			LC.CREATED_BY,
			LC.UPDATED_DATE,
			LC.UPDATED_BY,
            CONCAT(USR.FIRST_NAME,' ',USR.LAST_NAME) AS displayName,
            CB1.CODE_NAME AS typeName,
            CB2.CODE_NAME AS subTypeName,
            CB3.CODE_NAME AS priorityName
		FROM
		    TB_CASE LC
            INNER JOIN TB_USER USR ON LC.OWNER = USR.ID
			INNER JOIN TB_CODEBOOK CB1 ON LC.TYPE = CB1.CODE_ID AND CB1.CODE_TYPE = 'CASE_TYPE'
	        INNER JOIN TB_CODEBOOK CB2 ON LC.SUBTYPE = CB2.CODE_ID AND CB2.CODE_TYPE = 'CASE_SUBTYPE'
	        INNER JOIN TB_CODEBOOK CB3 ON LC.PRIORITY = CB3.CODE_ID AND CB3.CODE_TYPE = 'CASE_PRIORITY'
            INNER JOIN TB_CUSTOMER TCM ON LC.CUSTOMER_ID = TCM.CUSTOMER_ID
            LEFT JOIN LOY_MEMBER LMB ON LC.CUSTOMER_ID = LMB.CUSTOMER_ID
		WHERE
		  (CASE_NUMBER = #{caseNumber})
		   limit 1
	</select>
	
    <insert id="createCase">
		INSERT INTO TB_CASE (
			CASE_NUMBER,
			CONSULTING_NUMBER,
			TYPE,
			SUBTYPE,
			PRIORITY,
			STATUS,
			CHANNEL,
			SUBJECT,
			DETAIL,
			CONTACT_NAME,
			CUSTOMER_ID,
			OWNER,
			OPENED_DATE,
			CLOSED_DATE,
			BU_ID,
			CREATED_DATE,
			CREATED_BY,
			UPDATED_DATE,
			UPDATED_BY
	  	 ) 
	  	 VALUES
		 (
		 	#{caseNumber},
		 	#{consultingNumber},
			#{type},
			#{subType},
			#{priority},
			#{status},
			#{channel},
			#{subject},
			#{detail},
			#{contactName},
			#{customerId},
			#{owner},
			NOW(),
			#{closedDate},
			#{buId},
			NOW(),
			#{createdBy},
			NOW(),
			#{updatedBy}
		 )
	</insert>
	
    <update id="updateCase">
		UPDATE TB_CASE
		SET
			TYPE = #{type},
			SUBTYPE = #{subType},
			PRIORITY = #{priority},
			STATUS = #{status},
			CHANNEL = #{channel},
			DETAIL = #{detail},
			SUBJECT = #{subject},
			OWNER = #{owner},
			CLOSED_DATE = CASE WHEN (#{status} = '04') 
						THEN NOW()
              			ELSE NULL END,
			BU_ID = #{buId},
			UPDATED_DATE = NOW(),
			UPDATED_BY = #{updatedBy}
		WHERE
		(CASE_NUMBER = #{caseNumber})
	</update>
	
	<select id="generateCaseNumber" resultType="String" statementType="CALLABLE">
	  	call GEN_NEW_SEQUENCE(
	  		'CASE_SEQUENCE',
	    	#{buId, jdbcType = INTEGER, mode = IN}
	  	)
	 </select>
 
</mapper>