<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manualPoint">

	<insert id="insertReceipt" keyColumn="TXN_ID" keyProperty="txnId" useGeneratedKeys="true">
	
		INSERT INTO loy_receipt(
			CARD_NUMBER,
			MEMBER_ID,
            POS_ID,
            POS_TRANS_ID,
            POS_TRANS_DATE,
            STORE_SHOP_ID,
            STORE_SHOP_TYPE,
            STORE_SHOP_NAME,
            STORE_SHOP_TYPE_ID,
            AREA,
            FLOOR,
            BUILDING,
            BRANCH_ID,
            BRANCH_NAME,
            BU_ID,
            STAFF_ID,
            STAFF_NAME,
            PAYMENT_AMOUNT,
            COMPANY_CODE,
            NUMBER_OF_ITEM,
            RECEIPT_ID,
            RECEIPT_DATE,
            LAST_MODIFY_DATE,
            BATCH_DATE,
            CREATED_DATE,
            CREATED_USER,
            UPDATED_DATE,
            UPDATED_USER
         )VALUES(
         	:cardNumber,
         	:memberId,
         	:posId,
         	:posTransId,
         	:posTransDate,
         	:storeShopId,
         	:shopType,
         	:shopTypeName,
         	:shopTypeId,
         	:area,
         	:floor,
         	:building,
         	:branchId,
         	:branchName,
         	:buId,
         	:staffId,
         	:staffName,
         	:paymentAmount,
         	:companyCode,
         	:numberOfItem,
         	:receiptId,
         	:receiptDate,
         	:lastModifyDate,
         	:batchDate,
         	:createDate,
         	:createUser,
         	:updateDate,
         	:updateUser
         )
     
            
	
	</insert>
	
	<insert id="insertReceiptTXN" keyColumn="TXN_ID" keyProperty="txnId" useGeneratedKeys="true">

		INSERT INTO loy_txn (
					PROGRAM_ID ,
					MEMBER_ID,
					MEMBER_TIER_ID ,
					CARD_NUMBER ,
					CARD_TIER ,
					PRODUCT_ID ,
					PRODUCT_TYPE ,
					PRODUCT_NAME ,
					LOY_PRODUCT_TYPE ,
					REWARD_TYPE ,
					CHANNEL ,
					RECEIPT_ID ,
					RECEIPT_DATE,
					SPENDING,
					AMOUNT,
					STORE_SHOP_ID ,
					STORE_SHOP_NAME,
					STORE_SHOP_TYPE,
					TXN_TYPE ,
					TXN_SUB_TYPE,
					STATUS ,
					SUB_STATUS,
					QUANTITY,
					POS_TRANS_ID,
					POS_TRANS_DATE,
					POS_CANCEl_TRANS_ID ,
					POINT_TYPE,
					CREATED_DATE ,
					UPDATED_DATE ,
					CREATED_BY,
					UPDATED_BY,
					BU_ID 
				) VALUES (
					:programId ,
					:memberId ,
					:memberTierId ,
					:cardNumber ,
					:cardTier ,
					:productId ,
					:productType ,
					:productName ,
					:loyProductType ,
					:rewardType ,
					:channel , ".
					:receiptId ,
					:receiptDate ,
					:spending ,
					:amount ,
					:storeShopId ,
					:storeShopName,
					:storeShopType ,
					:txnType ,
					:txnSubType,
					:status ,
					:subStatus ,
					:quantity ,
					:posTransId ,
					:posTransDate ,
					:posCancelTransId
					, :pointType,
					NOW() ,
					NOW() ,
					:createUser ,
					:updateUser ,
					:buId
				)
           
	</insert>
	
</mapper>