<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workflowtaskassign">
	<select id="getWorkflowTaskAssignPageList" resultType="WorkflowTaskAssignModelBean">
		select 
			ass.ASSIGNMENT_ID as assignmentId
			, ass.TASK_ID as taskId
			, ass.USER_ID as userId
			, concat(usr.FIRST_NAME,' ',usr.LAST_NAME) as userName 
			, ass.BACKUP_USER_ID as backupUserId
			, ass.ASSIGNED_AT as AssignedAt
			, ass.STATUS as status
			, ass.PRIORITY as priority
			, ass.DUE_DATE as dueDate
			, ass.`SEQUENCE` as sequence
			, ass.BU_ID as buId
			, ass.CREATED_DATE as createdDate
			, ass.CREATED_BY as createdBy
			, concat(cr.FIRST_NAME,' ',cr.LAST_NAME) as createdByName
			, ass.UPDATED_DATE as updatedDate
			, ass.UPDATED_BY as updatedBy
			, concat(upd.FIRST_NAME,' ',upd.LAST_NAME) as updatedByName 
		from tb_wf_task_assignment ass
		left join tb_user usr on usr.ID =ass.USER_ID  
		left join tb_user cr on cr.ID=ass.CREATED_BY 
		left join tb_user upd on upd.ID=ass.UPDATED_BY 
		where ass.TASK_ID=#{taskId}
	</select>
	
	<select id="getWorkflowTaskAssignDetail" resultType="WorkflowTaskAssignModelBean">
		select 
			ass.ASSIGNMENT_ID as assignmentId
			, ass.TASK_ID as taskId
			, ass.USER_ID as userId
			, concat(usr.FIRST_NAME,' ',usr.LAST_NAME) as userName 
			, ass.BACKUP_USER_ID as backupUserId
			, ass.ASSIGNED_AT as AssignedAt
			, ass.STATUS as status
			, ass.PRIORITY as priority
			, ass.DUE_DATE as dueDate
			, ass.`SEQUENCE` as sequence
			, ass.BU_ID as buId
			, ass.CREATED_DATE as createdDate
			, ass.CREATED_BY as createdBy
			, concat(cr.FIRST_NAME,' ',cr.LAST_NAME) as createdByName
			, ass.UPDATED_DATE as updatedDate
			, ass.UPDATED_BY as updatedBy
			, concat(upd.FIRST_NAME,' ',upd.LAST_NAME) as updatedByName 
		from tb_wf_task_assignment ass
		left join tb_user usr on usr.ID =ass.USER_ID  
		left join tb_user cr on cr.ID=ass.CREATED_BY 
		left join tb_user upd on upd.ID=ass.UPDATED_BY 
		where ass.TASK_ID=#{taskId} and ass.ASSIGNMENT_ID=#{assignmentId}
		limit 1
	</select>
	
	<insert id="createWorkflowTaskAssign" keyColumn="ASSIGNMENT_ID" keyProperty="assignmentId" useGeneratedKeys="true">
		INSERT INTO tb_wf_task_assignment
		(
			 TASK_ID
			, USER_ID
			, BACKUP_USER_ID
			, ASSIGNED_AT
			, STATUS
			, PRIORITY
			, DUE_DATE
			, `SEQUENCE`
			, BU_ID
			, CREATED_DATE
			, CREATED_BY
			, UPDATED_DATE
			, UPDATED_BY
		)
		VALUES(
			 #{taskId}
			, #{userId}
			, #{backupuserId}
			, now()
			, #{status}
			, #{priority}
			, #{dueDate}
			, #{sequence}
			, #{buId}
			, now()
			, #{createdBy}
			, now()
			, #{updatedBy}
		)
	</insert>
	
	<update id="updateWorkflowTaskAssign">
		UPDATE tb_wf_task_assignment
		SET TASK_ID=#{taskId}
		, USER_ID=#{userId}
		, BACKUP_USER_ID=#{backupUserId}
		, ASSIGNED_AT=#{AsignAsignedAt}
		, STATUS=#{status}
		, PRIORITY=#{priority}
		, DUE_DATE=#{dueDate}
		, `SEQUENCE`=#{sequence}
		, BU_ID=#{buId}
		, CREATED_DATE=now()
		, CREATED_BY=#{createdBy}
		, UPDATED_DATE=now()
		, UPDATED_BY=#{updatedBy}
		WHERE ASSIGNMENT_ID=#{assignmentId}
	</update>
	
	
</mapper>