<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="line">
	<insert id="register">
		INSERT INTO LOY_MEMBER_LINE
			(MEMBER_ID, LINE_ID, TYPE)
		VALUES 
			(#{memberId}, #{lineId}, #{type})
	</insert>	
	<select id="verifyMember" resultType="java.lang.Long">
		SELECT MEMBER_ID FROM LOY_MEMBER WHERE (CITIZEN_ID = #{cardNo} OR TAX_ID = #{cardNo}) AND PHONE_NO = #{mobileNo}
	</select>
	<select id="checkLineRegister" resultType="java.lang.Long">
		SELECT MEMBER_ID FROM LOY_MEMBER_LINE WHERE LINE_ID = #{lineId}
	</select>
	<select id="getMemberInfo" resultType="LineMemberInfoModelBean">
		SELECT
		  M.MEMBER_ID
		  , T.TIER_NAME
		  , CASE WHEN M.MEMBER_TYPE = 0 THEN M.BUSINESS_NAME ELSE M.FIRST_NAME END AS FIRST_NAME
		  , CASE WHEN M.MEMBER_TYPE = 0 THEN '' ELSE M.LAST_NAME END AS LAST_NAME 
		  , B.CURRENT_POINT
		  , P.POINT_TYPE_NAME
		  , ML.TYPE
		FROM LOY_MEMBER M
		INNER JOIN LOY_TIER T ON M.MEMBER_TIER_ID = T.TIER_ID
		INNER JOIN LOY_MEM_POINT_BALANCE B ON B.MEMBER_ID = M.MEMBER_ID AND B.PROGRAM_ID = M.PROGRAM_ID
		INNER JOIN LOY_PROGRAM_POINT_TYPE P ON P.PROGRAM_ID = M.PROGRAM_ID AND P.PRIMARY_YN = 'Y'
		LEFT JOIN LOY_MEMBER_LINE ML ON M.MEMBER_ID = ML.MEMBER_ID
		WHERE M.MEMBER_ID = #{memberId}
	</select>
	<select id="getRedeemHistory" resultType="LineRedeemHistoryModelBean">
		SELECT
		  TXN.TXN_ID
		  , TXN.PRODUCT_TYPE
		  , TXN.PRODUCT_NAME
		  , TXN.POINT_BEFORE
		  , TXN.BURN_POINT
		  , TXN.BALANCE_POINT
		  , TXN.PROCESSED_DATE
		FROM LOY_TXN TXN
		WHERE
		  TXN.MEMBER_ID = #{memberId}
		  AND TXN.TXN_TYPE = 'BURN' AND TXN.TXN_SUB_TYPE = 'PRODUCT' AND TXN.STATUS = 'PROCESSED'
		ORDER BY 
		  TXN.PROCESSED_DATE DESC
	</select>
</mapper>