<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">
	<select id="getShopList" resultType="shopModelBean"> 
       	SELECT S.SHOP_ID 
		      , S.SHOP_NAME 
		      , S.SHOP_TYPE_ID 
			  , ST.SHOP_TYPE_NAME AS SHOP_TYPE 
		      , S.LOCATION AS LOCATION_ID 
              , CB1.CODE_NAME AS LOCATION_NAME
		      , S.SHOP_NO
		      , S.ACTIVE_FLAG 
		      , S.CREATED_DATE
			  , S.CREATED_BY
			  , S.UPDATED_DATE
			  , S.UPDATED_BY 
		  	FROM LOY_SHOP S
		  	LEFT JOIN LOY_SHOP_TYPE ST ON ST.SHOP_TYPE_ID = S.SHOP_TYPE_ID
			LEFT JOIN TB_CODEBOOK CB1 ON CB1.CODE_ID = S.LOCATION AND CB1.CODE_TYPE = 'LOCATION_CD'
		  	
		<where>	
			<if test="locationId != null and locationId != ''">
		    	S.LOCATION = #{locationId}
		  	</if>
			<if test="shopTypeId != null and shopTypeId != ''">
		    	AND S.SHOP_TYPE_ID = #{shopTypeId}
		  	</if>
		  	<if test="shopName != null and shopName != ''">
				<bind name="shopName" value="'%'+shopName + '%'" />
		    	AND S.SHOP_NAME like #{shopName}
		  	</if>
			<if test="activeFlag != null and activeFlag != ''">
		    	AND S.ACTIVE_FLAG = #{activeFlag}
		  	</if>
			<if test="buId != null">
		    	AND S.BU_ID = #{buId}
		  	</if>
	  	</where>	  	
		<choose>
			<when test="sortColumn != null and sortColumn != ''">
		  		<if test="sortColumn == 'shopNo'">
		  			ORDER BY S.SHOP_NO ${sortDirection}	  	
		  		</if>
		  		<if test="sortColumn == 'shopName'">
		  			ORDER BY S.SHOP_NAME ${sortDirection}	  	
		  		</if>
		  	</when>
		  	<otherwise>
		  		ORDER BY S.SHOP_NAME DESC	  	
		  	</otherwise>
	  	</choose>
	</select>
	
	<select id="findShopById" resultType="shopModelBean">
		SELECT S.SHOP_ID 
		      , S.SHOP_NAME 
		      , S.SHOP_TYPE_ID 
			  , ST.SHOP_TYPE_NAME 
		      , S.LOCATION AS LOCATION_ID 
              , CB1.CODE_NAME AS LOCATION_NAME
		      , S.SHOP_NO
		      , S.ACTIVE_FLAG 
		      , S.CREATED_DATE
			  , S.CREATED_BY
			  , S.UPDATED_DATE
			  , S.UPDATED_BY 
		  	FROM LOY_SHOP S
		  	LEFT JOIN LOY_SHOP_TYPE ST ON ST.SHOP_TYPE_ID = S.SHOP_TYPE_ID
			LEFT JOIN TB_CODEBOOK CB1 ON CB1.CODE_ID = S.LOCATION AND CB1.CODE_TYPE = 'LOCATION_CD'
			WHERE SHOP_ID = #{shopId}
	</select>
	
	<update id="updateShop">
		UPDATE LOY_SHOP SET
		      SHOP_NAME    = #{shopName}  
		    , SHOP_TYPE_ID = #{shopTypeId}
		    , LOCATION     = #{locationId}
		    , SHOP_NO      = #{shopNo}
		    , ACTIVE_FLAG  = #{activeFlag}
		    , UPDATED_DATE = NOW()
		    , UPDATED_BY   = #{updatedBy}  
		WHERE SHOP_ID 	   = #{shopId}	
	</update>
	
	<insert id="createShop" keyColumn="SHOP_ID" keyProperty="shopId" useGeneratedKeys="true">
		INSERT INTO LOY_SHOP(
					SHOP_NAME
					, SHOP_TYPE_ID
					, LOCATION
					, SHOP_NO
					, ACTIVE_FLAG
					, CREATED_DATE
					, CREATED_BY
					, UPDATED_DATE
					, UPDATED_BY
					, BU_ID
				)VALUES(
				    #{shopName} 
				   ,#{shopTypeId}     
				   ,#{locationId} 
				   ,#{shopNo}     
				   ,#{activeFlag}     
		           ,NOW()      
		           ,#{createdBy} 
		           ,NOW()      
		           ,#{createdBy}
		           , #{buId}
		        )
	</insert>
	
</mapper>